* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #0071f0;
}

.center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.header {
  height: 50px;
  background-color: white;
  box-shadow: 1px 2px 1px 1px solid red;
  -webkit-box-shadow: 1px 1px 1px 1px #c4c4c4;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo__description {
  color: var(--primary-color);
  line-height: 50px;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 0;
}

.authenticate-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.authenticate-btn {
  display: block;
  margin: 2px;
  line-height: 30px;
}

.content__left-side-description {
  font-size: 90px;
  letter-spacing: 5px;
  font-weight: 600;
}

.content__left-side-btn-wrapper {
  display: flex;
  justify-content: center;
}

.content__right-side-wrapper {
  margin-right: 20px;
}

.content__right-side-wrapper > p {
  text-align: left;
}

.content__right-side-img {
  width: 70%;
}

.nav-item {
  display: inline-block;
}

.nav-item-link {
  line-height: 48px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  margin: 4px;
}

.course-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 30px;
  border: 2px solid #c4c4c4;
  width: 75%;
  border-radius: 20px;
  overflow: hidden;
}

.course-img {
  width: 100%;
}

.course-heading {
  margin-top: 20px;
}

.course-study-link,
.course-zoom-link {
  color: white;
  text-decoration: none;
}

.content-wrapper {
  margin-top: 40px;
}

.tutor-btn {
  margin: 10px 0;
}

.card-text {
  margin-bottom: 2px;
}

.tutor-btn {
  display: block;
  width: 200px;
}

.control-panel {
  margin-top: 12px;
}

.no-margin-bottom {
  margin-bottom: 0;
}
