/**/

body {
    margin: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --color-primary: #009579;
    --color-primary-dark: #007f67;
    --color-secondary: #252c6a;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --border-radius: 4px;
    margin: 0;
    height: 200vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    /* background: url(./login_background.png); */
    background-size: cover;
    background-color: rgba(red, green, blue, 0.5);
}

.label-form {
    position: right;
}

.form-content {
    position: relative;
    max-width: 430px;
    width: 100%;
    background: #fff;
    padding: 34px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.form-content h1 {
    text-align: center
}

.form-content form {
    margin-top: 30px;
}

.form-inputs p {
    /* hộp thoại báo lỗi*/
    color: red;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid rgb(55, 146, 138);
    border-radius: 4px;
    box-sizing: border-box;
}

.form-input-button {
    box-shadow: 0px 4px 14px -7px #3e7327;
    background: linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
    background-color: #77b55a;
    border-radius: 8px;
    border: 1px solid #4b8f29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 17px;
    font-weight: bold;
    padding: 8px 39px;
}

.form-input-button:hover {
    background: linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
    background-color: #72b352;
}

.form-input-button:active {
    position: relative;
    top: 1px;
}