.cardCourse {
  width: 28%;
  display: inline-block;
  float: left;
  height: 350px;
}
.imgCardCourse {
  overflow: hidden;
  width: auto;
  height: 200px;
}
.imgCardCourse img {
  transition: transform 0.2s; /* Animation */
  opacity: 0.9;
  width: 100% !important;
  height: 100%;
  background: rgb(207, 207, 207);
}
.imgCardCourse img:hover {
  opacity: 1;
  transform: scale(1.3);
}
.myborder {
  box-shadow: 2px 2px 2px 2px rgb(207, 207, 207);
  border-radius: 2% !important;
  overflow: hidden !important;
}
.title,
.description {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
